<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <ul class="repositories">
  </ul>
  <ul class="userBox">
  </ul>

  <div class="containerdiv">Container</div>

  <script type="text/template" data-template-name="userInfo">
    <li>
      <a href="<%= avatar_url %>">
        <img src="<%= avatar_url %>" alt="<%= avatar_url %>">
      </a>
      <%= name %>
      <%= login %>
    </li>
  </script>

  <script type="text/template" data-template-name="repo">
    <li>
      <a href="<%= html_url %>">
        <a href="<%= name %>">
      </a>
      <%= stargazers_count %>
      <%= forks_count %>
      <%= stargazers_url %>
      <%= forks_url %>
    </li>
  </script>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="token.js"></script>
  <script type="text/javascript" src="main.js"></script>

</body>

</html>
